<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ 'http://feeds.feedburner.com/wurbedotro' | assign_to: 'global_feed' }}
{{ 'http://feeds.feedburner.com/wurbedotro_comments' | assign_to: 'global_comments_feed' }}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  {{ site.title }} 
  {% if site.current_section %}
    - {{ site.current_section.name }}
  {% endif %}
  {% if article %}
    - {{ article.title }}
  {% endif %}
</title>

<link rel="alternate" type="application/atom+xml" title="{{ site.title }} feed" href="{{ global_feed }}"/>
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} comments feed" href="{{ global_comments_feed }}"/>
{{ 'base' | stylesheet }}
{{ 'app' | javascript }}
<!--[if IE]>
{{ 'base_ie' | stylesheet }}
<![endif]-->
</head>

<body class="fixed blue">
<script type="text/javascript">loadPreferences()</script> 

<div id="wrapper">

<div id="header" class="clearfix">
<div id="title" class="clearfix">
  <h1><a href="/">{{ site.title }}</a></h1>
</div>
<h2>Sections</h2>
<ul id="menu">
{% for section in site.sections %}
  {% if section.articles_count > 0 %}
    <li{% if section.current %} class="selected"{% endif %}>{{ section | link_to_section }}</li>
  {% endif %}
{% endfor %}
</ul>
</div>

<div id="contentwrapper" class="clearfix">

<div id="content">
  
  <div id="innerwrapper">

{{ content_for_layout }}

  </div>

</div>

<div id="sidebar">

<div class="boxy tall">
<h3>Despre</h3>
<p>wurbe (web urbe) este grupul dezvoltatorilor web din bucuresti. Citeste mai multe detalii <a href="/despre">despre noi</a>.</p>

<p id="subscribe"><a class="feed" href="{{ global_feed }}">aboneaza-te la feed</a></p>

<div id="search">
  <h3>Cautare</h3>
  <form method="get" action="/search">
    <fieldset>
      <input class="text" type="text" id="q" value="" name="q"/>
    </fieldset>
  </form>
</div> 
</div> 

{{ 'blog' | section | months | assign_to: 'blog_section' }}
{{ blog_section | latest_articles | assign_to: 'recents' }}

{{ 'intalniri' | section | months | assign_to: 'meets_section' }}
{{ meets_section | latest_articles | assign_to: 'meets_recents' }}

<div class="boxy tall minor">
  <h3>Chestii recente</h3>

<dl>
<dt>Intalniri</dt>
<dd>
  <ul>
  {% for article in meets_recents %}
    <li>{{ article | link_to_article }} <em>({{ article.published_at | format_date: 'stub', true }})</em></li>
  {% endfor %}
  </ul>
</dd>

<dt>Articole <a class="feed" href="{{ global_feed }}"><span>feed</span></a></dt>
<dd>
  <ul>
  {% for article in recents %}
    <li>{{ article | link_to_article }} <em>({{ article.published_at | format_date: 'stub', true }})</em></li>
  {% endfor %}
  </ul>
</dd>

<dt>Comentarii <a class="feed" href="{{ global_comments_feed }}"><span>feed</span></a></dt>
<dd>
  <ul>
  {% for comment in site.latest_comments %}
    <li>{{ comment.author_link }} on <a href="{{ comment.url }}#comment-{{ comment.id }}">{{ comment.title }}</a></li>
  {% endfor %}
  </ul>
</dd>
</dl>
</div>
 
<div class="boxy short">
  <h3>Arhiva</h3>
  <ul>
  {% for month in blog_section.months %}
    {{ blog_section | monthly_articles: month | size | assign_to: 'articles_count' }}
    {% if articles_count > 0 %}
    <li>{{ blog_section | link_to_month: month }} ({{ articles_count }})</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<!--
<div class="boxy short">
  <h3>Index</h3>

<dl>
<dt>Categorii</dt>
<dd>
  <ul>
  {% for section in site.blog_sections %}
    {% if section.articles_count > 0 %}
    {% unless section.is_home %}
    <li>{{ section | link_to_section }} ({{ section.articles_count }})</li>
    {% endunless %}
    {% endif %}
  {% endfor %}
  </ul>
</dd>

<dt>Taguri</dt>
<dd>
  <ul>
  {% for tag in site.tags %} 
    <li>{{ tag | link_to_tag }}</li>
  {% endfor %}
  </ul>
</dd>
</dl>
</div>
-->

<div class="boxy short">
<h3>Organizatori</h3>
<ul>
  <li><a href="http://evil.che.lu/">Cristi Balan</a></li>
  <li><a href="http://beanon.com/">Viorel Cojocaru</a></li>
  <li><a href="http://locknet.ro/">Aurelian Oancea</a></li>
</ul>
</div>

</div>

</div>

<div id="options">
  <h2>Optiuni:</h2>
  <h3>Size</h3>
  <ul id="option_size">
    <li id="option_size_fixed"   class="fixed" ><a><span>fixed </span></a></li>
    <li id="option_size_fluid"   class="fluid" ><a><span>fluid </span></a></li>
  </ul>
  <h3>Colors</h3>
  <ul id="option_color">
    <li id="option_color_orange" class="orange"><a><span>orange</span></a></li>
    <li id="option_color_blue"   class="blue"  ><a><span>blue  </span></a></li>
    <li id="option_color_green"  class="green" ><a><span>green </span></a></li>
    <li id="option_color_pink"   class="pink"  ><a><span>pink  </span></a></li>
    <li id="option_color_cyan"   class="cyan"  ><a><span>cyan  </span></a></li>
    <li id="option_color_red"    class="red"   ><a><span>red   </span></a></li>
    <li id="option_color_violet" class="violet"><a><span>violet</span></a></li>
  </ul>
</div>

<div id="footer">
<p>Copyright &copy; 2007, wurbe. Valid <a href="http://validator.w3.org/check/referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p>
<p>Using <a href="http://evil.che.lu/projects/skittlish">skittlish</a> on <a href="http://mephistoblog.com/">mephisto</a>.</p>
</div>

</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-563854-3";
urchinTracker();
</script>
</body>

</html>
