<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ 'http://feeds.feedburner.com/evilchelu' | assign_to: 'global_feed' }}
{{ 'http://feeds.feedburner.com/evilchelu_comments' | assign_to: 'global_comments_feed' }}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  {{ site.title }} 
  {% if site.current_section %}
    - {{ site.current_section.name }}
  {% endif %}
  {% if article %}
    - {{ article.title }}
  {% endif %}
</title>

<link rel="openid.server" href="http://openid.claimid.com/server" />
<link rel="openid.delegate" href="http://openid.claimid.com/evilchelu" />

<link rel="alternate" type="application/atom+xml" title="{{ site.title }} feed" href="{{ global_feed }}"/>
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} comments feed" href="{{ global_comments_feed }}"/>
{{ 'base' | stylesheet }}
{{ 'app' | javascript }}
<!--[if IE]>
{{ 'base_ie' | stylesheet }}
<![endif]-->
</head>

<body class="che fixed orange">
<script type="text/javascript">loadPreferences()</script> 

<div id="wrapper">

<div id="header" class="clearfix">
<div id="title" class="clearfix">
  <h1><a href="/">{{ site.title }}</a></h1>
</div>
<h2>Sections</h2>
<ul id="menu">
{% for section in site.sections %}
  {% if section.articles_count > 0 %}
  {% if section.is_home  %}
    <li{% if section.current %} class="selected"{% endif %}>{{ section | link_to_section }}</li>
  {% else %}
    {% if section.is_paged  %}
    <li{% if section.current %} class="selected"{% endif %}>{{ section | link_to_section }}</li>
    {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}
</ul>
</div>

<div id="contentwrapper" class="clearfix">

<div id="content">
  
  <div id="innerwrapper">

{{ content_for_layout }}

  </div>

</div>

<div id="sidebar">

<div class="boxy tall">
<h3>About</h3>
<p>I'm Cristi Balan, a freelance web developer currently living in Bucharest, Romania.</p>

<p>I like CSS, semantic markup, unobtrusive javascript, Ruby on Rails and good coding practices.</p>

<p>Currently, I am available for freelance work. You can reach me at <a href="mailto:evil@che.lu">evil@che.lu</a>.</p>

<p id="subscribe"><a class="feed" href="{{ global_feed }}">subscribe to my feed</a></p>

<div id="search">
  <h3>Search</h3>
  <form method="get" action="/search">
    <fieldset>
      <input class="text" type="text" id="q" value="" name="q"/>
    </fieldset>
  </form>
</div>
</div> 

<div class="boxy tall minor">
  <h3>Recent</h3>

<dl>
<dt>Articles <a class="feed" href="{{ global_feed }}"><span>feed</span></a></dt>
<dd>
  <ul>
  {% for article in site.latest_articles %}
    <li>{{ article | link_to_article }} <em>({{ article.published_at | format_date: 'stub', true }})</em></li>
  {% endfor %}
  </ul>
</dd>

<dt>Comments <a class="feed" href="{{ global_comments_feed }}"><span>feed</span></a></dt>
<dd>
  <ul>
  {% for comment in site.latest_comments %}
    <li>{{ comment.author_link }} on <a href="{{ comment.url }}#comment-{{ comment.id }}">{{ comment.title }}</a></li>
  {% endfor %}
  </ul>
</dd>
</dl>
</div>

<div class="boxy short">
  <h3>Archives</h3>
  {{ '' | section | months | assign_to: 'home_section' }}
  <ul>
  {% for month in home_section.months %}
    {{ home_section | monthly_articles: month | size | assign_to: 'articles_count' }}
    {% if articles_count > 0 %}
    <li>{{ home_section | link_to_month: month }} ({{ articles_count }})</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="boxy short">
  <h3>Classification</h3>

<dl>
<dt>Categories</dt>
<dd>
  <ul>
  {% for section in site.blog_sections %}
    {% if section.articles_count > 0 %}
    {% unless section.is_home %}
    <li>{{ section | link_to_section }} ({{ section.articles_count }})</li>
    {% endunless %}
    {% endif %}
  {% endfor %}
  </ul>
</dd>

<!--
<dt>Tags</dt>
<dd>
  <ul>
  {% for tag in site.tags %} 
    <li>{{ tag | link_to_tag }}</li>
  {% endfor %}
  </ul>
</dd>
-->
</dl>
</div>

<div class="boxy tall">
<h3>People</h3>
<dl>
  <dt>Local peeps</dt>
  <dd><a href="http://tase.ro/">Adrian Tanase</a></dd>
  <dd><a href="http://www.toth.ro/">Gabi Toth</a></dd>
  <dd><a href="http://mordax.ro/">Marius Zaharia</a></dd>

  <dt>World wide posse</dt>
  <dd><a href="http://iamrice.org/">Damien Tanner</a></dd>
  <dd><a href="http://www.fearoffish.co.uk/">Jamie van Dyke</a></dd>
  <dd><a href="http://technomancy.us/">Phil Hagelberg</a></dd>
  <dd><a href="http://blog.caboo.se/">caboo.se</a></dd>

  </dl>
</div>

</div>

</div>

<div id="options">
  <h2>Options:</h2>
  <h3>Size</h3>
  <ul id="option_size">
    <li id="option_size_fixed"   class="fixed" ><a><span>fixed </span></a></li>
    <li id="option_size_fluid"   class="fluid" ><a><span>fluid </span></a></li>
  </ul>
  <h3>Colors</h3>
  <ul id="option_color">
    <li id="option_color_orange" class="orange"><a><span>orange</span></a></li>
    <li id="option_color_blue"   class="blue"  ><a><span>blue  </span></a></li>
    <li id="option_color_green"  class="green" ><a><span>green </span></a></li>
    <li id="option_color_pink"   class="pink"  ><a><span>pink  </span></a></li>
    <li id="option_color_cyan"   class="cyan"  ><a><span>cyan  </span></a></li>
    <li id="option_color_red"    class="red"   ><a><span>red   </span></a></li>
    <li id="option_color_violet" class="violet"><a><span>violet</span></a></li>
  </ul>
</div>

<div id="footer">
<p>Copyright &copy; 2006, Cristi Balan. Valid <a href="http://validator.w3.org/check/referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p>
<p>Using <a href="http://evil.che.lu/projects/skittlish">skittlish</a> on <a href="http://publishwithimpunity.com/">mephisto</a>.</p>
</div>

</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-563854-1";
urchinTracker();
</script>
</body>

</html>
